<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://2.bp.blogspot.com/-RFN5kPGyy7s/UWvSvd3in9I/AAAAAAAAAEU/S-rDbB-UuCI/s1600/OnePiecexTorikoampDragonBallZCrossoverPart1-V-ZSubTeam23-40-37_zps1c31b229.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://1.bp.blogspot.com/-MuZhiPNrLtk/V_rdMiC67aI/AAAAAAAAEZQ/LQSf8C-nsukBkqmJ5-58fmoKVaLMylhIQCLcB/w1200-h630-p-k-no-nu/vforum.vn-hinh-nen-one-piece-anime-wallpaper-4.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://1.bp.blogspot.com/-Z1JsuxpyJpk/V5DgM0AkcuI/AAAAAAAAAHM/eWI1Zt4oqB0sl0axSMuht8yFYMzq3y-4gCLcB/s1600/naruto3.jpg" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>